body {
    background: rgb(24,24,24);
    color: #ccc;
    font-family: Futura, sans;
    font-size: 12pt;
}

#content {
    position: relative;
}

.section {
    border-radius: 10px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#222));
    color: #ccc;
    padding: 10px;
    margin: 5px 10px;
    width: 600px;
}

#current_time {
    width: 100%;
    background: transparent;
    clear: both;
    font-size: 8pt;
    text-align: center;
}

.section ol a {
    color: #6cf;
    text-decoration: none;
}

.section ol a:visited {
    color: #f66;
}

.section ol a:active {
    color: #6f6;
}

.section ol a .subject {
    text-decoration: underline;
}

.section ol a .owner, .section ol a .project {
    color: #ccc;
    font-size: 10pt;
}

h1, h2, h3 {
    text-align: center;
    margin: 0;
    padding: 1px;
}

#review_stats div>span {
    width: 50%;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
}

#winning {
    text-align: center;
}

@media handheld, only screen and (max-device-width: 480px) {
    /* iPhone */
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 10pt;
    }
    body .section {
        display: block;
        width: 90%;
        margin: 0 auto 10px;
        padding: 10px;
    }
}
